target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ / Eclipse ###
.idea
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
bin/

### VS Code ###
.vscode/

### Runtime data ###
data/
